html{
    font-size: 20px;
    font-family: 'Delius';
}
#bottom{
    background-color: #263858;
    color: white;
    width:100%;
    height: 50%;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
    .navbar{
        font-size: 20px;
        font-family: 'Delius';
        background-color: #7AAFFF;
        color:white;
        height: 120px;
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
    }
    #title{
        text-align: center;
        margin-right: -300px;
    }
    .links{
        color: white;
        margin: 20px;
        background-color: #263858;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .links:hover{
        text-decoration: none;
        color:#97bbff;
        border: white 2px solid;
        transition: 100ms;
    }
    .boxes{
        border-radius: 5px;
        background-color: #85C4FF;
        width:60%;
        margin: 20px auto 20px auto;
        font-family: 'Delius'; 
        color:white;
        box-shadow: 0px 4px 4px 1px rgb(134, 136, 139);
        padding: 15px;
    
    }
    h2{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    #aboutMe{
        margin-top: 150px;
    }
  }
 
  @media only screen and (max-width: 1199px) and (min-width: 401px) {
    
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
    .navbar{
        font-size: 10px;
        font-family: 'Delius';
        background-color: #7AAFFF;
        color:white;
        height: 160px;
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
    }
    h1{
        font-size:30px;;
    }
    p{
        font-size: 10px;
    }
    h2{
        font-size: 15px;
        text-align: center;
    }
    h4{
        font-size: 12px;
        text-align: center;
    }

    #title{
        text-align: center;
        margin-right: -30px;
    }
  
    .links{
        color: white;
        margin: 20px;
        background-color: #263858;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
    }
    .links:hover{
        text-decoration: none;
        color:#97bbff;
        border: white 2px solid;
        transition: 100ms;
    }
    .boxes{
        border-radius: 5px;
        background-color: #85C4FF;
        width: 80%;
        margin: 45px auto;
        font-family: 'Delius'; 
        color:white;
        box-shadow: 0px 4px 4px 1px rgb(134, 136, 139);
        padding: 15px;
        font-size: 10px;
    }
    #aboutMe{
        margin-top: 165px;
    
  }
}

  @media only screen and (max-width: 400px){
    a:hover{
        color: white;
        text-decoration: none;
    }
    .navbar{
        font-size: 10px;
        font-family: 'Delius';
        background-color: #7AAFFF;
        color:white;
        height: 250px;
        position: sticky;
        top: 0; 
        display: grid;
        
    }
    h1{
        font-size:30px;
        color: white;
    }
    p{
        font-size: 10px;
    }
    h2{
        font-size: 15px;
        text-align: center;
    }
    h4{
        font-size: 12px;
        text-align: center;
    }

    #title{
        text-align: center;
        margin-right: -30px;
        display: grid;
    }
    #name{
        display: none;
    }
  
    .links{
        color: white;
        margin: 20px;
        background-color: #263858;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .links:hover{
        text-decoration: none;
        color:#97bbff;
        border: white 2px solid;
        transition: 100ms;
    }
    .boxes{
        border-radius: 5px;
        background-color: #85C4FF;
        width: 80%;
        margin: 130px auto;
        font-family: 'Delius'; 
        color:white;
        box-shadow: 0px 4px 4px 1px rgb(134, 136, 139);
        padding: 15px;
        font-size: 10px;
    }
    #aboutMe{
        margin-top: 250px;
    }
    
a{
    color: white;
}
  }
  